.navbar-container {
    margin: 10px;
}

.navbar-monogram {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    position: relative;
    top: 0;
    z-index: 100;
    background-color: var(--main);
    color: var(--secondary);
    box-shadow: 1px 11px 35px #00000026;
}

.monogram-container {
    display: flex;
    align-items: center;
}

.links-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 2em;
    font-size: 0.75rem;
    letter-spacing: 2px;
    line-height: 1;
}

.links-container li{
    cursor: pointer;
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondary-light);
}

.links-container li:hover {
    color: var(--secondary);
}

.links-container .shop {
    font-weight: 600;
}

.cart {
    fill: var(--secondary);
}